<tr id="<%= dom_id trade_party %>">
  <td><%= link_to trade_party.name, edit_trade_party_path(trade_party) %></td>
  <td><%= trade_party.city %></td>
  <td><%= trade_party.email %></td>
  <td></td>
</tr>
