services:
  db:
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust
    image: postgres:13.6-alpine
    volumes:
      - ./db_data:/var/lib/postgresql/data
    ports:
      - 5432:5432
  web:
    build: .
    command: bundle exec rails s -b '0.0.0.0'
    entrypoint: ['./entrypoint.sh']
    depends_on:
      - db
    image: friendly_invoice/friendly_invoice
    ports:
      - 3000:3000
    volumes:
      - .:/app
    stdin_open: true
    tty: true
version: '3'
