<tr id="<%= dom_id trade_partner %>">
  <td><%= link_to trade_partner.name, edit_trade_partner_path(trade_partner) %></td>
  <td><%= trade_partner.city %></td>
  <td><%= trade_partner.email %></td>
  <td></td>
</tr>
