<h1>
  <%= @recurring_invoice %>
</h1>
<%= render partial: 'form' %>
<div class="action-buttons" data-role="action-buttons">
    <%= button_to t("delete"),
      @recurring_invoice,
      method: :delete,
      form: { data: { turbo_confirm: t(:are_you_sure) },
              class: 'd-inline' },
      class: 'btn btn-danger float-start no-margin' %>
  <%= link_to t("back"), :back, class: 'btn btn-secondary' %>
  <button class="btn btn-success" data-role="submit-form" data-target="form[data-role='invoice']" type="button">Save</button>
</div>
